<form #registerForm="ngForm"   class=" " (ngSubmit)="handleregister(registerForm)" >
    <!-- firstname -->
    <div class="mb-3  w-85 m-auto ">
      <label for="exampleInputfName1" class="form-label text-brown">First Name</label>
  
      <input [(ngModel)]="model.name" #name="ngModel" name="name" type="text" required class="
        no-outline w-100 rounded-2 py-1" id="exampleInputfName1" >
  
    </div>
   
    <!-- email  -->
    <div class="mb-3 w-85 m-auto">
      <label for="exampleInputEmail" class="form-label text-brown">Email</label>
      <input type="email" [(ngModel)]="model.email" name="email" email required class=" no-outline w-100 rounded-2 py-1
        " id="exampleInputEmail" #email="ngModel">
    </div>
    <!-- password -->
    <div class="mb-3 w-85 m-auto">
      <label for="exampleInputPassword" class="form-label text-brown">Password</label>
      <input type="text" [(ngModel)]="model.password" name="password" required class=" no-outline w-100 rounded-2 py-1
          " id="exampleInputPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #password="ngModel">
    </div>
    <!-- gender -->
    <div class="mb-3  w-85 m-auto ">
      <label for="female " class="form-label text-brown me-3">Gender :</label>
  
      <input type="radio" name="gender" value="female" id="female" [(ngModel)]="model.gender">
      <label for="female " class="form-label text-brown-light me-3">female</label>
      <input type="radio" id="male" name="gender" value="male" [(ngModel)]="model.gender">
      <label for="male" class="form-label text-brown-light">male</label>
    </div>

    <!-- phone -->
    <div class="mb-3  w-85 m-auto ">
    
      <label for="phone" class="form-label text-brown">Phone Number </label>
      <input type="text" name="phone"  class="
      no-outline w-100 rounded-2 py-1" [(ngModel)]="model.phone" id="phone">
  
    </div>
  
    <input type="file" (change)="onFileSelected($event)">
    <button type="submit" class="btn  log px-4 ms-5 mt-3 ">Register</button>
  
</form>
